@page
@model FribergRentalsRazor.Pages.Customer.Booking.IndexModel
@{
}

<partial name="_authCustomer" />

<h1>Listing all my Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].RentalStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].RentalReturnDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bookings.Count == 0)
        {
            <tr>
                <td colspan="4">No bookings found</td>
            </tr>
        }
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Car.ImageUrls[0])" width="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalReturnDate)
                </td>
                <td>
                    <a class="btn error" asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>