@page
@model FribergRentalsRazor.Pages.Admin.Booking.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<partial name="_authAdmin" />

<div class="panel neutral">
    <h1>Delete A Booking</h1>

    <h3>Are you sure you want to delete this Booking?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.BookingId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.BookingId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Customer.CustomerId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Customer.CustomerId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Customer.FullName)
                @Html.DisplayNameFor(model => model.Booking.Customer.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Customer.FullName)
                @Html.DisplayFor(model => model.Booking.Customer.Email)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Car.Brand)
                @Html.DisplayNameFor(model => model.Booking.Car.Model)
                Car Image
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Car.Brand)
                @Html.DisplayFor(model => model.Booking.Car.Model)
                <img style="display: block" src="@Html.DisplayFor(model => model.Booking.Car.ImageUrls)" width="200" height=auto />
            </dd>


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.RentalStartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.RentalStartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.RentalReturnDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.RentalReturnDate)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Booking.BookingId" />
            <input type="submit" class="btn error" value="Delete" />
            <a class="btn cancel" asp-page="./Index">Cancel</a>
        </form>
    </div>
</div>