@page
@model FribergRentalsRazor.Pages.Admin.Car.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_authAdmin" />

<div class="panel neutral">
<h1>Admin - Details of a car</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CostPerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CostPerDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ImageUrls)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var item in Model.Car.ImageUrls)
                {
                    <img src="@item" width="200" height=auto/>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn function" asp-page="./Edit" asp-route-id="@Model.Car.Id">Edit</a>
    <a class="btn cancel" asp-page="./Index">Cancel</a>
</div>
</div>
