@page
@model FribergRentalsRazor.Pages.Customer.Car.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel neutral">
    <h1>Details</h1>

    <div>
        <h4>Car</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.CostPerDay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.CostPerDay)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Comment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Car.ImageUrls[0])
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.Car.ImageUrls[0]" width="200" height=auto />
                @{
                    // @Html.DisplayNameFor(model => model.Car.ImageUrls[0])
                    // if (Model.Car.ImageUrls != null)
                    // {
                    //     foreach (var item in Model.Car.ImageUrls)
                    //     {
                    //         <img src="@item" width="200" height=auto/>
                    //         <button>Delete</button>
                    //     }
                    // }
                }
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn-sm function" asp-page="./Index">Back to List</a>
    </div>
</div>